doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Trirong:wght@300;400;500;600&display=swap' rel='stylesheet')
  // GFG Fontawesome Kit
  script(src='https://kit.fontawesome.com/c5434c80c0.js' crossorigin='anonymous')
  // Custom CSS
  link(rel='stylesheet' href='/css/style.main.css')
  link(rel='icon' type='image/x-icon' href='/images/favicon.png')
  title Earthly
.loading-bar
header.header
  nav.nav
    .nav__name
      img#logo.nav__logo(src='/images/logo.png' alt='Bankist logo')
      .nav__name--text
        p earthly
        p sustainable products at affordable prices
    ul.nav__links
      li.nav__item
        a.nav__link(href='#') Home
      li.nav__item
        a.nav__link(href='#') Shop
      li.nav__item
        a.nav__link(href='#') Get in touch
    a.nav__link--btn
      i.fa-solid.fa-cart-shopping
  .header__title
    .header__text
      h1.header__primary earthly
      h2.header__secondary
        | Sustainable products at 
        br
        | affordable prices
    canvas.header__canvas
    .earth__glow
section#section--6.section
  .section__title
    h2.section__title--left.section__title--left-6
      | Sustainability
    h2.section__title--right.section__title--right-6
      | Starter Kit
  .section__product
    .section__product--imgs
      img.section__product--image.section__product--image-1(src='/images/kit-2.jpg' alt='Brush 1')
      img.section__product--image.section__product--image-2(src='/images/kit-3.jpg' alt='Brush 2')
      img.section__product--image.section__product--image-3(src='/images/kit-1.png' alt='Brush 3')
    i.section__product--icon.section__product--icon-6.fa-solid.fa-fan
    // <i class="fa-solid fa-mountain-sun"></i>
    // <i class="fa-solid fa-earth-americas"></i>
    // <i class="fa-solid fa-fan"></i>
  .section__text
    p
      | This starter kit is all you need to start the revolution.
      // Consists of: <br />
      //
        2 Bamboo Straws <br />
        1 Plant Based Reusable Cup with 2 lids <br />
        1 Natural Loofah <br />
        1 box of 50 Bamboo Cotton Eartips <br />
        1 Bamboo Toothbrush
      //
        <ul>
        <li>2 Bamboo Straws</li>
        <li>1 Plant Based Reusable Cup with 2 lids </li>
        <li>1 Natural Loofah </li>
        <li>1 box of 50 Bamboo Cotton Eartips </li>
        <li>1 Bamboo Toothbrush </li>
        </ul>
// section divider
.divider
  .line
  i.line-icon.fa-solid.fa-recycle
// section-1
section#section--1.section
  .section__title
    h2.section__title--left.section__title--left-1 Bamboo
    h2.section__title--right.section__title--right-1
      | Toothbrush
  .section__product
    .section__product--imgs
      img.section__product--image.section__product--image-1(src='/images/brush-1.jpg' alt='Brush 1')
      img.section__product--image.section__product--image-2(src='/images/brush-2.jpg' alt='Brush 2')
      img.section__product--image.section__product--image-3(src='/images/brush-3.jpg' alt='Brush 3')
    i.section__product--icon.section__product--icon-1.fa-solid.fa-mountain-sun
    // <i class="fa-solid fa-mountain-sun"></i>
  .section__text
    p
      | Earthly Bamboo Toothbrush are BPA free, Biodegradable and have
      | charcoal infused bristles that help remove stains effectively. We
      | guarantee your satisfaction. See for yourself!
// section divider
.divider
  .line
  i.line-icon.fa-solid.fa-recycle
// section-2
section#section--2.section
  .section__title
    h2.section__title--left.section__title--left-2 Plant Based
    h2.section__title--right.section__title--right-2
      | Reusable Cups
  .section__product
    .section__product--imgs
      img.section__product--image.section__product--image-1(src='/images/cup-1.jpg' alt='Brush 1')
      img.section__product--image.section__product--image-2(src='/images/cup-2.png' alt='Brush 2')
      img.section__product--image.section__product--image-3(src='/images/cup-3.png' alt='Brush 3')
    i.section__product--icon.section__product--icon-2.fa-solid.fa-water
    // <i class="fa-solid fa-water"></i>
  .section__text
    p
      | Easy to clean, hassle free and Plant Based. Sourced from local
      | farmers, plant residue from Bamboo, Wheat, Rice, and Barley is
      | processed and molded into reusable cups which can be used hundreds of
      | times.
.divider
  .line
  i.line-icon.fa-solid.fa-recycle
// section-3
section#section--3.section
  .section__title
    h2.section__title--left.section__title--left-3 Reusable
    h2.section__title--right.section__title--right-3
      | Bamboo Straws
  .section__product
    .section__product--imgs
      img.section__product--image.section__product--image-1(src='/images/straw-1.jpg' alt='Brush 1')
      img.section__product--image.section__product--image-2(src='/images/straw-2.jpg' alt='Brush 2')
      img.section__product--image.section__product--image-3(src='/images/straw-3.png' alt='Brush 3')
    i.section__product--icon.section__product--icon-3.fa-solid.fa-cloud-sun
    // <i class="fa-brands fa-pagelines"></i>
    // <i class="fa-solid fa-cloud-sun"></i>
  .section__text
    p
      | We collaborated with artisans in Veitnam, Earthly Organic Bamboo
      | Straws are 100% Compostable, Vegan and BPA free. They can be reused,
      | thrown in a compost bin, or even in your backyard. Serve with cold
      | beverages like ice tea, cold coffee and many more.
.divider
  .line
  i.line-icon.fa-solid.fa-recycle
// section-4
section#section--4.section
  .section__title
    h2.section__title--left.section__title--left-4 Plant Based
    h2.section__title--right.section__title--right-4
      | Reusable Containers
  .section__product
    .section__product--imgs
      img.section__product--image.section__product--image-1(src='/images/container-1.png' alt='Brush 1')
      img.section__product--image.section__product--image-2(src='/images/container-2.png' alt='Brush 2')
      img.section__product--image.section__product--image-3(src='/images/container-3.jpg' alt='Brush 3')
    i.section__product--icon.section__product--icon-4.fa-solid.fa-tree
    // <i class="fa-solid fa-mountain-sun"></i>
  .section__text
    p
      | Sourced from local farmers, plant residue from Bamboo, Wheat, Rice,
      | and Barley is processed and molded into reusable containers which can
      | be used hundreds of times. Microwave safe, seal proof, and sturdy,
      | they are perfect to store snacks or lunch. Designed in USA. Tested in
      | Germany.
.divider
  .line
  i.line-icon.fa-solid.fa-recycle
// section-5
section#section--5.section
  .section__title
    h2.section__title--left.section__title--left-5 Natural
    h2.section__title--right.section__title--right-5
      | Bamboo Loofah
  .section__product
    .section__product--imgs
      img.section__product--image.section__product--image-1(src='/images/loofah-1.png' alt='Brush 1')
      img.section__product--image.section__product--image-2(src='/images/loofah-2.png' alt='Brush 2')
      img.section__product--image.section__product--image-3(src='/images/loofah-3.png' alt='Brush 3')
    i.section__product--icon.section__product--icon-5.fa-solid.fa-earth-americas
    // <i class="fa-solid fa-mountain-sun"></i>
    // <i class="fa-solid fa-earth-americas"></i>
  .section__text
    p
      | Natural loofah sponges actually come from the fruits of vine-growing
      | Luffa plants. These plants are part of the gourd family
      | (Cucurbitaceae) making them relatives of watermelons, cucumbers and
      | pumpkins. 
      br
      |           It is biodegradable and is an organic, eco-friendly exfoliating body
      |           scrubber. Both men and women can use it, suitable for shower and
      |           bathtub.
footer.footer
  ul.footer__nav
    li.footer__item
      a.footer__link(href='#') About
    li.footer__item
      a.footer__link(href='#') Home
    li.footer__item
      a.footer__link(href='#') Shop
    //
      <li class="footer__item">
      <a class="footer__link" href="#">Privacy Policy</a>
      </li>
      <li class="footer__item">
      <a class="footer__link" href="#">Careers</a>
      </li>
      <li class="footer__item">
      <a class="footer__link" href="#">Blog</a>
    li.footer__item
      a.footer__link(href='#') Contact Us
  img.footer__logo(src='/images/logo.png' alt='Logo')
  p.footer__copyright
    | earthly.ie@2022
script(src='/js/bundle.js')
